.box{
    box-sizing: content-box;
    width: 100px;
    height: 100px;
    border: 2px solid #000;
}

.azul{
    background-color: blue;
}

.verde{
    background-color: green;
}

.vermelho{
    background-color: red;
}