@font-face {
    font-family: 'alexbrush', cursive;
    src: url('AlexBrush-Regular.ttf');
}

html{
    color: #fff;
    background-color: #000;
    background-image: url("./motivation.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;

    font-family: monospace;
    font-style: italic;
    font-variant: small-caps;
}