@font-face {
    font-family: 'alexbrush', cursive;
    src: url('AlexBrush-Regular.ttf');
}

html{
    color: #fff;
    background-color: #000;
    background-image: url("./motivation.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;

    font-family: monospace;
    font-style: italic;
    font-variant: small-caps;
    font-size: 1.5rem;
}

p{
    text-indent: 2rem;
    text-align: left;
    text-transform: lowercase;
}

h2{
    text-decoration: underline;
    letter-spacing: 10px;
}

a{
    color: red;
    cursor: help;
    
}