main h1{
    color:rebeccapurple;
}

h2{
    color:green;
}

p{
    color: yellowgreen;
}

.titulo-aula{
    text-decoration: underline;
}

.texto-azul{
    color:blue;
}

.texto-vermelho{
    color:red;
}

#titulo-primeira-aula{
    text-decoration: none;
}

#titulo-segunda-aula{
    color: brown;
}

.texto-vermelho .comentario{
    color: blue;
}

.texto-vermelho.comentario{
    color: green;
}

.comentario{
    color:red;
}