.box{
    box-sizing: border-box;
    width: 5rem;
    height: 5rem;
    display: inline-block;
    color: white;
    font-size: 3 rem;
    padding: 5px;
}

.azul{
    background-color: blue;
}

.verde{
    background-color: green;
}

.vermelho{
    background-color: red;
}